<div id="numberGenerated">
    <input type="text" class="form-control" v-model="min" placeholder="Min Number"/>
    <br/>
    <input type="text" class="form-control" placeholder="Max Number"v-model="max" />
    <br/>
    <button class="btn btn success" v-on:click="buttonClick">View</button>
    <br/>

    <h4>{{number}}</h4>
</div>

@section scripts{
    <script src="~/Scripts/vue.js"></script>
<script src="~/Scripts/Index.js"></script>

    }